<a href="https://colab.research.google.com/github/Said-Akbar/Intro-to-Python/blob/master/02_pandas_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Notes on Pandas lecture

<p><strong>Pip install pandas</strong></p>
<p><strong>Import pandas as pd</strong><span style="font-weight: 400;"> # library usage in python</span></p>
<p><strong>pd.Series(data=my_list) #</strong><span style="font-weight: 400;"> returns 10,20,30 (items) with indices.</span></p>
<p><span style="font-weight: 400;">labels=[&lsquo;a&rsquo;,&rsquo;b&rsquo;,&rsquo;c&rsquo;]</span></p>
<p><strong>ser1=pd.Series(data=my_list, index=labels) # </strong><span style="font-weight: 400;">returns 10,20,30 with labels:</span></p>
<p><span style="font-weight: 400;">a 10</span></p>
<p><span style="font-weight: 400;">b 20</span></p>
<p><span style="font-weight: 400;">c 30</span></p>
<p><span style="font-weight: 400;">You can pass arrays and dictionaries to Series as well. In case of dictionary, index for series is keys of dictionary. In fact, you can pass any data type to series (chars or numbers).</span></p>
<p><span style="font-weight: 400;">You can grab items by referring to its index:</span></p>
<p><strong>Ser1[&lsquo;a&rsquo;]</strong><span style="font-weight: 400;"> # returns 10.</span></p>
<p><span style="font-weight: 400;">We can </span><strong>add Series:</strong></p>
<p><strong>Ser1 + ser2 </strong><span style="font-weight: 400;"># the result is that the values located in index &lsquo;a&rsquo; from both series are added (10+10=20); if one index does not exist in the other series, that index will have </span><strong>NaN </strong><span style="font-weight: 400;">as a value.</span></p>

<p><span style="font-weight: 400;">Creating a pandas dataframe:</span></p>
<p><strong>import pandas as pd</strong></p>
<p><strong>import numpy as np</strong></p>
<p><strong>df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())</strong></p>
<p><span style="font-weight: 400;">Creates 5x4 matrix with A,B,C,D,E indices and W,X,Y,Z columns. The elements are random numbers. Usually, we will be using CSV files. This matrix is for exercise purposes.</span></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">W</span></p>
</td>
<td>
<p><span style="font-weight: 400;">X</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Y</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Z</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">A</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.706850</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.628133</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.907969</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.503826</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">B</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.651118</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.319318</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.848077</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.605965</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">C</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-2.018168</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.740122</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.528813</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.589001</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">D</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.188695</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.758872</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.933237</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.955057</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">E</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.190794</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.978757</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.605967</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.683509</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-weight: 400;">Selecting </span><strong>columns</strong><span style="font-weight: 400;"> is easy. Just refer to column </span><strong>names</strong><span style="font-weight: 400;">.</span></p>
<p><strong>df[&lsquo;W&rsquo;] #</strong><span style="font-weight: 400;"> returns W column</span></p>
<p><span style="font-weight: 400;">A&nbsp; &nbsp; 2.706850</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">B&nbsp; &nbsp; 0.651118</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">C &nbsp; -2.018168</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">D&nbsp; &nbsp; 0.188695</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">E&nbsp; &nbsp; 0.190794</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">Name: W, dtype: float64</span></p>
<p><span style="font-weight: 400;">Thus, Each column is a series:</span><strong> type(df['W']).</strong><span style="font-weight: 400;"> Dataframe is a series as columns with the same common indices&nbsp;</span></p>
<p><strong>Selecting</strong><span style="font-weight: 400;"> several </span><strong>columns</strong><span style="font-weight: 400;">:</span></p>
<p><strong>df[['W','Z']] #</strong><span style="font-weight: 400;"> W and Z column</span></p>
<p><strong>Creating </strong><span style="font-weight: 400;">a new column:</span></p>
<p><strong>df['new'] = df['W'] + df['Y']</strong></p>
<p><span style="font-weight: 400;">Use existing columns to make a new column.</span></p>
<p><strong>Dropping</strong><span style="font-weight: 400;"> a column:</span></p>
<p><strong>df.drop('new',axis=1) #</strong><span style="font-weight: 400;"> always specify axis as 1 if you refer to columns, otherwise it is 0 by default and refers to rows.</span></p>
<p><span style="font-weight: 400;">This </span><strong>drop</strong><span style="font-weight: 400;"> is not saved in the dataframe unless you specify with a parameter </span><strong>inplace=True.</strong></p>
<p><strong>df.drop('new',axis=1,inplace=True)</strong></p>
<p><strong>Dropping rows </strong><span style="font-weight: 400;">does not require </span><strong>axis=1:</strong></p>
<p><strong>df.drop('E') #</strong><span style="font-weight: 400;">drops E row, if you need to save use </span><strong>inplace</strong></p>
<p><span style="font-weight: 400;">Selecting </span><strong>rows </strong><span style="font-weight: 400;">requires the use of </span><strong>loc </strong><span style="font-weight: 400;">(for row name based selection)</span> <span style="font-weight: 400;">or </span><strong>iloc</strong><span style="font-weight: 400;"> (for index based selection).</span></p>
<p><strong>df.loc['A']</strong></p>
<p><strong>Df.iloc[2] # </strong><span style="font-weight: 400;">row C</span></p>

<p><span style="font-weight: 400;">Selecting an </span><strong>element </strong><span style="font-weight: 400;">from the dataframe:</span></p>
<p><strong>df.loc['B','Y'] # </strong><span style="font-weight: 400;">-0.84807</span></p>
<p><span style="font-weight: 400;">Selecting </span><strong>subset </strong><span style="font-weight: 400;">of dataframe:</span></p>
<p><strong>df.loc[['A','B'],['W','Y']]</strong></p>
<p><span style="font-weight: 400;">Or</span></p>
<p><strong>Df.iloc[:2,:4] #</strong><span style="font-weight: 400;"> result:</span></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">W</span></p>
</td>
<td>
<p><span style="font-weight: 400;">X</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Y</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Z</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">A</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.706850</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.628133</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.907969</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.503826</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">B</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.651118</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.319318</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.848077</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.605965</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Adding a new </span><strong>row:</strong></p>
<p><strong>df.loc['new']=np.random.randn(5)</strong></p>
<p>&nbsp;</p>
<p><strong>Concat - </strong><span style="font-weight: 400;">joining two similar column dataframes together:</span></p>
<p><strong>pd.concat([df,dat]) # </strong><span style="font-weight: 400;">dat is a dataframe with W,X,Y,Z columns.</span></p>
<p>&nbsp;</p>
<p><strong>Missing values. </strong><span style="font-weight: 400;">&nbsp;You can fill in missing values with the average of that variable:</span></p>
<p><strong>df['A'].fillna(value=df['A'].mean())</strong></p>

<p><strong>All operations are not saved until inplace=True is specified.</strong></p>
<p><strong>Conditional selection </strong><span style="font-weight: 400;">in dataframes.</span></p>
<p><span style="font-weight: 400;">From above shown df, we perform the followings.</span></p>
<p><span style="font-weight: 400;">If we do </span><strong>df&gt;0, </strong><span style="font-weight: 400;">it returns a dataframe with T and F bool values as elements.</span></p>
<p><span style="font-weight: 400;">So, we can do </span><strong>df[df&gt;0] </strong><span style="font-weight: 400;">to get only elements that are greater than zero, others are NaN.</span></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">W</span></p>
</td>
<td>
<p><span style="font-weight: 400;">X</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Y</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Z</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">A</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.706850</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.628133</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.907969</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.503826</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">B</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.651118</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.605965</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">C</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.740122</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.528813</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">D</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.188695</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.955057</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">E</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.190794</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.978757</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.605967</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.683509</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">F</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.390528</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.166905</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.184502</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.807706</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-weight: 400;">Instead of conditioning the whole df, we can do conditional selection on </span><strong>columns</strong><span style="font-weight: 400;">.</span></p>
<p><strong>df[df['W']&gt;0] #</strong><span style="font-weight: 400;"> W column has one negative value in row C, so the resulting df excludes row C.</span></p>
<p><span style="font-weight: 400;">We can further select </span><strong>columns</strong><span style="font-weight: 400;"> after conditioning:</span></p>
<p><strong>df[df['W']&gt;0]['Y'] #</strong><span style="font-weight: 400;"> shows only Y column without C row.</span></p>
<p><strong>df[df['W']&gt;0][['Y','X']] # </strong><span style="font-weight: 400;">shows Y and X columns without C row.</span></p>
<p><span style="font-weight: 400;">We can apply multiple conditions using &amp; (and), | (or) operators.</span></p>
<p><strong>df[(df['W']&gt;0) &amp; (df['Y'] &gt; 1)]</strong></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">W</span></p>
</td>
<td>
<p><span style="font-weight: 400;">X</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Y</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Z</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">E</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.190794</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.978757</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.605967</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.683509</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Reset index. </strong><span style="font-weight: 400;">In above df, we have letters as indices. If we want numeric indices, then we can use </span><strong>reset_index() </strong><span style="font-weight: 400;">method on df. Our letter index becomes a column after that.</span></p>
<p><strong>df.reset_index()</strong></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">index</span></p>
</td>
<td>
<p><span style="font-weight: 400;">W</span></p>
</td>
<td>
<p><span style="font-weight: 400;">X</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Y</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Z</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">A</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.706850</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.628133</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.907969</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.503826</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">B</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.651118</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.319318</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.848077</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.605965</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">C</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-2.018168</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.740122</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.528813</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.589001</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">3</span></p>
</td>
<td>
<p><span style="font-weight: 400;">D</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.188695</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.758872</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.933237</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.955057</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">4</span></p>
</td>
<td>
<p><span style="font-weight: 400;">E</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.190794</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.978757</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.605967</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.683509</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">5</span></p>
</td>
<td>
<p><span style="font-weight: 400;">F</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.390528</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.166905</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.184502</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.807706</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Adding self defined index. Set index.</strong></p>
<p><strong>newind = 'CA NY WY OR CO NH'.split()</strong></p>
<p><strong>df['States'] = newind #</strong><span style="font-weight: 400;"> this will add a new column named states to our df.</span></p>
<p><strong>df.set_index('States') # </strong><span style="font-weight: 400;">now States column becomes index for df. The old index column will be deleted.</span></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">W</span></p>
</td>
<td>
<p><span style="font-weight: 400;">X</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Y</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Z</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">States</span></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">CA</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.706850</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.628133</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.907969</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.503826</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">NY</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.651118</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.319318</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.848077</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.605965</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">WY</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-2.018168</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.740122</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.528813</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.589001</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">OR</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.188695</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.758872</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.933237</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.955057</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">CO</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.190794</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.978757</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.605967</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.683509</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">NH</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.390528</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.166905</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.184502</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.807706</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Row conditional selection.</strong></p>
<p><strong>df.loc[:,df.loc['CA',:]&gt;0.5] #</strong><span style="font-weight: 400;"> selects based on CA row columns being &gt;0.5.</span></p>

<p><strong>Index hierarchy.</strong></p>
<p><span style="font-weight: 400;">Let&rsquo;s say we have the following table:</span></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">A</span></p>
</td>
<td>
<p><span style="font-weight: 400;">B</span></p>
</td>
</tr>
<tr>
<td rowspan="3">
<p><span style="font-weight: 400;">G1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-1.091967</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-1.171030</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.873226</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.822493</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">3</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.231435</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.892051</span></p>
</td>
</tr>
<tr>
<td rowspan="3">
<p><span style="font-weight: 400;">G2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.911243</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.718534</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.158639</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.181190</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">3</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-1.124271</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-0.184857</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We have two levels of indices here. G1 and G2 is the first index level and 1,2,3 is the second level. We can access levels by their names.</span></p>
<p><strong>df.loc['G1'].loc[1]['A'] #</strong><span style="font-weight: 400;"> -1.091967</span></p>
<p><span style="font-weight: 400;">As we can see, these index levels don&rsquo;t have any names. We can assign names.&nbsp;</span></p>
<p><strong>df.index.names = ['Group','Num']</strong></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<p><strong>A</strong></p>
</td>
<td>
<p><strong>B</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>Group</strong></p>
</td>
<td>
<p><strong>Num</strong></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td rowspan="3">
<p><strong>G1</strong></p>
</td>
<td>
<p><strong>1</strong></p>
</td>
<td>
<p><strong>-1.746549</strong></p>
</td>
<td>
<p><strong>0.737016</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>2</strong></p>
</td>
<td>
<p><strong>-0.018670</strong></p>
</td>
<td>
<p><strong>-0.285920</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>3</strong></p>
</td>
<td>
<p><strong>-0.000881</strong></p>
</td>
<td>
<p><strong>0.250600</strong></p>
</td>
</tr>
<tr>
<td rowspan="3">
<p><strong>G2</strong></p>
</td>
<td>
<p><strong>1</strong></p>
</td>
<td>
<p><strong>-1.437435</strong></p>
</td>
<td>
<p><strong>0.194254</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>2</strong></p>
</td>
<td>
<p><strong>0.742053</strong></p>
</td>
<td>
<p><strong>0.048281</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>3</strong></p>
</td>
<td>
<p><strong>0.457070</strong></p>
</td>
<td>
<p><strong>-0.597932</strong></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Cross-sectioning. </strong><span style="font-weight: 400;">We can get cross section of table rows or columns.</span></p>
<p><strong>df.xs(['G1',1]) #</strong></p>
<p><span style="font-weight: 400;">A &nbsp; -1.746549</span></p>
<p><span style="font-weight: 400;">B&nbsp; &nbsp; 0.737016</span></p>
<p><span style="font-weight: 400;">Name: (G1, 1), dtype: float64</span></p>
<p>&nbsp;</p>
<p><strong>df.xs(1,level='Num') #</strong></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">A</span></p>
</td>
<td>
<p><span style="font-weight: 400;">B</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">Group</span></p>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">G1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-1.746549</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.737016</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">G2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">-1.437435</span></p>
</td>
<td>
<p><span style="font-weight: 400;">0.194254</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Returns all index 1 cells in level Num.</span></p>
<p><strong>Concat </strong><span style="font-weight: 400;">several indices.</span><strong> pd.concat([df.xs(1,level=1),df.xs(3,level=1)]) </strong><span style="font-weight: 400;">&nbsp;# level 1 and 3 is shown.</span></p>
<p>&nbsp;</p>
<p><strong>Missing values</strong></p>
<p><span style="font-weight: 400;">If we have this table:</span></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><span style="font-weight: 400;">A</span></p>
</td>
<td>
<p><span style="font-weight: 400;">B</span></p>
</td>
<td>
<p><span style="font-weight: 400;">C</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">5.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">1</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">2</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">NaN</span></p>
</td>
<td>
<p><span style="font-weight: 400;">3</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-weight: 400;">We can drop rows that have missing values:</span></p>
<p><strong>df.dropna() # </strong><span style="font-weight: 400;">only 1, 5, 1 will be shown (0th row)</span></p>
<p><span style="font-weight: 400;">If we want to drop nan columns, we use axis=1:</span></p>
<p><strong>df.dropna(axis=1) # </strong><span style="font-weight: 400;">only C column will be shown.</span></p>
<p><strong>Threshold for dropna. </strong><span style="font-weight: 400;">We can specify minimum of how many nan should be removed from rows.</span></p>
<p><strong>df.dropna(thresh=2) # </strong><span style="font-weight: 400;">drops the third row only.</span></p>
<p><strong>Fillna. </strong><span style="font-weight: 400;">We can fill missing values with our desired values.</span></p>
<p><span style="font-weight: 400;">E.g. filling na columns with its mean value:</span></p>
<p><strong>df.fillna(value=df.mean()) # </strong><span style="font-weight: 400;">A column&rsquo;s 3rd row will be 1.5, B column&rsquo;s missing values will be 5.</span></p>
<p><span style="font-weight: 400;">value=&rsquo;string&rsquo; # for value we can specify strings as well.</span></p>

<p><strong>groupby</strong></p>
<p><span style="font-weight: 400;">Group rows based on some aggregate function like sum of each group and etc.</span></p>
<p><span style="font-weight: 400;">Say,&nbsp; we have a dataframe:</span></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>
<p><span style="font-weight: 400;">Company</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Person</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Sales</span></p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">GOOG</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Sam</span></p>
</td>
<td>
<p><span style="font-weight: 400;">200</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">1</span></p>
</td>
<td>
<p><span style="font-weight: 400;">GOOG</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Charlie</span></p>
</td>
<td>
<p><span style="font-weight: 400;">120</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">2</span></p>
</td>
<td>
<p><span style="font-weight: 400;">MSFT</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Amy</span></p>
</td>
<td>
<p><span style="font-weight: 400;">340</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">3</span></p>
</td>
<td>
<p><span style="font-weight: 400;">MSFT</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Vanessa</span></p>
</td>
<td>
<p><span style="font-weight: 400;">124</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">4</span></p>
</td>
<td>
<p><span style="font-weight: 400;">FB</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Carl</span></p>
</td>
<td>
<p><span style="font-weight: 400;">243</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-weight: 400;">5</span></p>
</td>
<td>
<p><span style="font-weight: 400;">FB</span></p>
</td>
<td>
<p><span style="font-weight: 400;">Sarah</span></p>
</td>
<td>
<p><span style="font-weight: 400;">350</span></p>
</td>
</tr>
</tbody>
</table>
<p><strong>by_comp = df.groupby("Company") </strong><span style="font-weight: 400;"># save our object to by_comp</span></p>
<p><strong>by_comp.mean() </strong><span style="font-weight: 400;"># perform some aggregate function on object</span></p>
<p><span style="font-weight: 400;">Sales</span></p>
<p><span style="font-weight: 400;">Company</span></p>
<p><span style="font-weight: 400;">FB</span> <span style="font-weight: 400;">296.5</span></p>
<p><span style="font-weight: 400;">GOOG</span> <span style="font-weight: 400;">160.0</span></p>
<p><span style="font-weight: 400;">MSFT</span> <span style="font-weight: 400;">232.0</span></p>
<p><span style="font-weight: 400;">We can also perform by_comp.std() or by_comp.sum() and etc methods.</span></p>
<p><span style="font-weight: 400;">Since aggregation operations return a dataframe, we can access its rows and columns as usual:</span></p>
<p><strong>by_comp.sum().loc[&lsquo;FB&rsquo;]</strong><span style="font-weight: 400;"> # returns value for FB</span></p>
<p><span style="font-weight: 400;">Other operations:</span></p>
<p><strong>by_comp.count() #</strong><span style="font-weight: 400;"> counts items</span></p>
<p><strong>by_comp.max() # or min(), </strong><span style="font-weight: 400;">returns min or max of each group in alphabetical order</span></p>
<p><strong>by_comp.describe() #</strong><span style="font-weight: 400;"> returns basic statistics for each group like quartiles, min, max, std.</span></p>
<p><strong>by_comp.describe().transpose() # </strong><span style="font-weight: 400;">since describe returns a column of stats, we can instead transpose that table so we can see it as one row.</span></p>
<table>
<tbody>
<tr>
<td>&nbsp;</td>
<td>
<p><strong>count</strong></p>
</td>
<td>
<p><strong>mean</strong></p>
</td>
<td>
<p><strong>std</strong></p>
</td>
<td>
<p><strong>min</strong></p>
</td>
<td>
<p><strong>25%</strong></p>
</td>
<td>
<p><strong>50%</strong></p>
</td>
<td>
<p><strong>75%</strong></p>
</td>
<td>
<p><strong>max</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>Sales</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">2.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">160.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">56.568542</span></p>
</td>
<td>
<p><span style="font-weight: 400;">120.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">140.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">160.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">180.0</span></p>
</td>
<td>
<p><span style="font-weight: 400;">200.0</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-weight: 400;"> &nbsp; </span><strong>Merge, join</strong></p>
<p><strong>Concatenation.</strong><span style="font-weight: 400;"> Glues together dataframes. The axis dimension, we want to join, should match on both. By default axis is 0 - by rows.</span></p>
<p><strong>pd.concat([df1,df2,df3]) # </strong><span style="font-weight: 400;">glues df1,2,3 from the bottom of each other when column names match.</span></p>
<p><span style="font-weight: 400;">With axis=1, dataframes are merged by columns (to the right for each next df) based on indices. If they don&rsquo;t have common indices, NaNs are filled.</span></p>
<p><strong>Merge. </strong><span style="font-weight: 400;">There are different types of merging and each will be explained</span><span style="font-weight: 400;">.</span></p>
<p><strong>Inner join.&nbsp;</strong></p>
<p><strong>pd.merge(dfA,dfB,how='inner',on='key') # </strong><span style="font-weight: 400;">**Inner join** produces only the set of records that match in both Table A and Table B.</span></p>
<p><strong>Outer join.&nbsp;</strong></p>
<p><strong>pd.merge(A, B, how='outer', on='key') #</strong><span style="font-weight: 400;"> Full outer join produces the set of all records in Table A and Table B, with matching records from both sides where available. If there is no match, the missing side will contain null.</span></p>
<p><strong>Left outer join.&nbsp;</strong></p>
<p><span style="font-weight: 400;">Left outer join produces a complete set of records from Table A, with the matching records (where available) in Table B. If there is no match, the right side will contain null.</span></p>
<p><strong>pd.merge(df_a, df_b, how='left&rsquo;, on='key')</strong></p>
<p><span style="font-weight: 400;">Right outer join also follows the same logic as left outer join.</span></p>
<p><strong>Join. </strong><span style="font-weight: 400;">left and right joins (inner by default) can be easily performed using a special </span><strong>join</strong><span style="font-weight: 400;"> function in Python. Only difference is we need indices in DF to perform </span><strong>join.</strong></p>
<p><strong>left.join(right) # </strong><span style="font-weight: 400;">left inner join</span></p>
<p><strong>left.join(right, how='outer') # </strong><span style="font-weight: 400;">left outer join.</span></p>